<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-black">Mantenimiento</h1>

  </div>

  <!-- Content Row -->

  <!-- Content Row -->
  <div class="row">
    <div class="card mb-3 col-12">
      <img class="card-img-top" src="../../assets/DiagramaMaquina.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Estatus de Bandas</h5>
        <div class="alert alert-success" role="alert">
          Entrada: ok!
        </div>
        <div class="alert alert-success" role="alert">
          Salida Principal: ok!
        </div>
        <div class="alert alert-danger" role="alert">
          FerrosaTramp: warning!
        </div>
        <div class="alert alert-danger" role="alert">
          NoFerrosaLight: warning!
        </div>
        <div class="alert alert-success" role="alert">
          Mas2Heavy: ok!
        </div>
        <div class="alert alert-success" role="alert">
          Menos2Heavy: ok!
        </div>
        <div class="alert alert-success" role="alert">
          Heavy4: ok!
        </div>
        <div class="alert alert-danger" role="alert">
          3/4Heavy: warning!
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
</div>